<div class="row">
    <div class="col-sm text-right text-success">
        {{burger_name}}
    </div>
    <div class="col-sm text-left">
        <button class="change-devour btn btn-sm btn-success m-1" data-id="{{id}}" data-devour="true">
            Devour it!
        </button>
    </div>
</div>